.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --background-main-footer: #2f303a;
  --focus-color: #2196f3;
  --focus-color-button: #188ce8;
  --white-color: #f5f5f5;
  --icon-color: #afb1b8;
  --background-color: #f5f4fa;
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--focus-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--white-color);
}

.about__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.overlay {
  position: relative;
}

.overlay__box {
  position: absolute;
  bottom: 0;
  left: calc(50% - 185px);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.overlay__text {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 94px;
  padding-right: 94px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}

.benefits {
  color: var(--white-color);
  padding-top: 94px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  width: 270px;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background: var(--background-color);
}

.benefits__title {
  margin-bottom: 10px;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.button {
  padding: 10px 32px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--focus-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: var(--transition-background-color);
  transition: var(--transition-background-color);
}
.button:hover, .button:focus {
  background-color: var(--focus-color-button);
}

.btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.btn__item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  padding: 6px 22px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--background-color);
  -webkit-transition: var(--transition-background-color), var(--transition-color), var(--transition-box-shadow);
  transition: var(--transition-background-color), var(--transition-color), var(--transition-box-shadow);
}
.btn:hover, .btn:focus {
  background-color: var(--focus-color);
  color: var(--third-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe__button {
  padding: 10px 28px;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--focus-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: var(--transition-background-color);
  transition: var(--transition-background-color);
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--focus-color-button);
}

.checkbox-button {
  display: block;
  margin: 0 auto;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: var(--transition-border);
  transition: var(--transition-border);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--focus-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--focus-color);
}

.clients__icon {
  fill: var(--icon-color);
  -webkit-transition: var(--transition-fill);
  transition: var(--transition-fill);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-main-footer);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__adress {
  margin-right: 70px;
}

.adress {
  margin-top: 20px;
  font-style: normal;
}

.adress__item:not(:last-child) {
  margin-bottom: 10px;
}

.adress__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: var(--transition-color);
  transition: var(--transition-color);
}

.adress__link-white {
  color: var(--third-color);
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.join__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: var(--transition-background-color);
  transition: var(--transition-background-color);
}
.join__link:hover, .join__link:focus {
  background: var(--focus-color);
}

.join__icon {
  fill: var(--third-color);
}

.form__subscribe {
  margin-left: 93px;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.subscribe__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-main-footer);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.form-field {
  position: relative;
  -ms-flex-preferred-size: 448px;
      flex-basis: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-field:focus-within .form-icon, .form-field:hover .form-icon {
  fill: var(--focus-color);
  border-color: var(--focus-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--second-color);
}

.form-input {
  position: relative;
  display: block;
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  fill: currentColor;
  -webkit-transition: var(--transition-border-color);
  transition: var(--transition-border-color);
}
.form-input:hover, .form-input:focus {
  border-color: var(--focus-color);
}

.form-textarea {
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: var(--transition-border-color);
  transition: var(--transition-border-color);
}
.form-textarea:hover, .form-textarea:focus {
  border-color: var(--focus-color);
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  display: inline-block;
  fill: currentColor;
  -webkit-transition: var(--transition-fill);
  transition: var(--transition-fill);
}
.form-icon:hover, .form-icon:focus {
  fill: var(--focus-color);
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: var(--transition-background-color);
  transition: var(--transition-background-color);
}

.form-checkbox:checked {
  background-color: var(--focus-color);
  border: none;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.checkbox-part {
  color: var(--focus-color);
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--third-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__item {
  margin-right: 50px;
}

.header__icon {
  margin-right: 10px;
  fill: var(--second-color);
  -webkit-transition: var(--transition-fill);
  transition: var(--transition-fill);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background.jpg);
  background-position: center;
  background-color: var(--background-main-footer);
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

.nav__logo {
  margin-right: 93px;
}

.nav__logo-first {
  color: var(--focus-color);
}

.adress__logo-first {
  color: var(--focus-color);
}

.adress__logo-second {
  color: var(--third-color);
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: var(--transition-opacity);
  transition: var(--transition-opacity);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--third-color);
}

.modal .modal-button:hover,
.modal .modal-button:focus {
  fill: var(--focus-color);
}

.modal-button {
  margin-left: 490px;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background: var(--third-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: var(--transition-fill);
  transition: var(--transition-fill);
}

.modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--second-color);
  -webkit-transition: var(--transition-color);
  transition: var(--transition-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--focus-color);
}
.nav__link:hover .header__icon, .nav__link:focus .header__icon {
  fill: var(--focus-color);
}
.nav__link--current {
  color: var(--focus-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--focus-color);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__text {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--third-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: var(--transition-transform);
  transition: var(--transition-transform);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--white-color);
}

.photo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.photo__item {
  position: relative;
  overflow: hidden;
}
.photo__item:hover, .photo__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo__link {
  display: block;
}
.photo__link:hover .thumb__text, .photo__link:focus .thumb__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.photo-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.photo-box__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.photo-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background-color: var(--third-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-box__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-box__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.team-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: var(--transition-background-color);
  transition: var(--transition-background-color);
}
.team-box__link:hover, .team-box__link:focus {
  background: var(--focus-color);
}
.team-box__link:hover .team-box__icon, .team-box__link:focus .team-box__icon {
  fill: var(--third-color);
}

.team-box__icon {
  fill: var(--icon-color);
  -webkit-transition: var(--transition-fill);
  transition: var(--transition-fill);
}/*# sourceMappingURL=main.css.map */