.about {
    padding-top: 94px;
    padding-bottom: 94px;

    color: var(--white-color);
    
  }
  .about__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
  }
  .about__list {
    display: flex;
  }
  .about__item:not(:last-child) {
    margin-right: 30px;
  }
  .overlay {
    position: relative;
  }
  .overlay__box {
    position: absolute;
    bottom: 0;
    left: calc(50% - 185px);
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
  }
  .overlay__text {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 94px;
    padding-right: 94px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--third-color);
  }