.button {
    padding: 10px 32px;
    border: none;
  
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--third-color);
    background-color: var(--focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;

    transition: var(--transition-background-color);

  &:hover,
  &:focus {
    background-color: var(--focus-color-button);
  }
}

  .btn__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .btn__item:not(:last-child) {
    margin-right: 8px;
  }
  .btn {
    padding: 6px 22px;
    border: none;
  
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--background-color);

    transition: var(--transition-background-color),
      var(--transition-color),
      var(--transition-box-shadow);

  &:hover,
  &:focus {
    background-color: var(--focus-color);
    color: var(--third-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
  .subscribe__button {
    padding: 10px 28px;
    gap: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--third-color);
    background: var(--focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    
    transition: var(--transition-background-color);
  
  &:hover,
  &:focus {
    background-color: var(--focus-color-button);
  }
}
  .checkbox-button {
    display: block;
    margin: 0 auto;
  }