.join__title {
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--third-color);
  }
  .join__list {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }
  .join__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.1);
  }
  .join__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border-radius: 50%;

    transition: var(--transition-background-color);
  
  &:hover,
  &:focus {
    background: var(--focus-color);
  }
}
  .join__icon {
    fill: var(--third-color);
  }