.form__subscribe {
    margin-left: 93px;
  }
  .subscribe__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--third-color);
  }
  .subscribe__form {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .subscribe__input {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    background: var(--background-main-footer);
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .form-field {
    position: relative;
    flex-basis: 448px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  
  &:focus-within .form-icon,
  &:hover .form-icon {
    fill: var(--focus-color);
    border-color: var(--focus-color);
  }
}
  
  .form-label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    text-transform: capitalize;
   
    color: var(--second-color);
  }
  
  .form-input {
    position: relative;

    display: block;
    padding: 12px 42px;
    width: 100%;

    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 16px;

    fill: currentColor;

    transition: var(--transition-border-color);
  
  &:hover,
  &:focus {
    border-color: var(--focus-color);
  }
}
  .form-textarea {
    resize: none;
  
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: var(--transition-border-color);
  
  &:hover,
  &:focus {
    border-color: var(--focus-color);
  }
}
  .form-icon {
    position: absolute;

    top: 29px;
    left: 12px;
    display: inline-block;

    fill: currentColor;

    transition: var(--transition-fill);
  
  &:hover,
  &:focus {
    fill: var(--focus-color);
  }
}
  
  .checkbox {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form-checkbox {
    appearance: none;
    text-align: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 2px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;

    transition: var(--transition-background-color);
  }
  
  .form-checkbox:checked {
    background-color: var(--focus-color);
    border: none;
  }
  .checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
  
    letter-spacing: 0.03em;
  
    color: var(--second-color);
  }
  .checkbox-part {
    color: var(--focus-color);
  }
  