.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--third-color);
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
}
.header__nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.header__icon {
  margin-right: 10px;
  fill: var(--second-color);
  transition: var(--transition-fill);
}
.tablet-icon-mail{
  @media screen and (min-width: 768px) and (max-width:1199px){
    width: 14px;
    height: 10px;
  }
  width: 16px;
  height: 12px;
}
.tablet-icon-tel{
  @media screen and (min-width: 768px) and (max-width:1199px){
    width: 10px;
    height: 14px;
  }
  width: 10px;
  height: 16px;
}
